#container {
    border: 1px solid yellow;
}

#grid {
    display: grid;
    border: 1px solid black;
}

.grid-item {
    width: 500px;
    height: 250px;
}

.form-label {
    border: 1px solid aqua;
}

button {
    background-color: dodgerblue;
    border: none;
    cursor: pointer;
    padding: 13px 15px;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: royalblue;
    color: yellow;
}